* {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Do Hyeon', sans-serif;
    background-image: url('../Resources/Images/back.jpg');
}

header {
    background-color: lightslategrey;
    font-size: 1.5em;
    border-bottom: 2px black solid;
    opacity: .75;
}

header:hover, footer:hover {
    opacity: 1;
}

footer {
    position: absolute;
    width: 100%;
    opacity: .75;
    bottom: 0px;
    background-color: lightslategrey;
    border-top: 2px solid black;
}

footer button {
    font-size: 1em;
    background-color: black;
    color: white;
    border: 1px solid white;
    margin: 2px;
}

.icon {
    height: 50px;
    width: 50px;
    color: white;
    cursor: pointer;
    margin: 10px;
    border-radius: 10px;
    border: 1px solid white;
    text-align: center;
}
