html {
    background: linear-gradient(to right, #42b3f4, darkblue);
    font-family: 'Do Hyeon', sans-serif;
}

#user {
    background-color: black;
    color: white;
    font-family: 'Do Hyeon', sans-serif;
    border: 1px solid white;
    font-size: .75em;
}

#login-box {
    text-align: center;
    background-color: lightslategray;
    margin-right: auto;
    margin-left: auto;
    width: 25%;
    height: 25em;
    border-radius: 25px;
    border: 2px solid black;
    opacity: .80;
    animation-name: light;
    animation-duration: 2s;
    box-shadow: 5px 5px;
}

@keyframes light {
    0% {opacity: 0;}
    25% {opacity: .25;}
    50% {opacity: .50;}
    75% {opacity: .75;}
    100% {opacity: .80;}
}

#login-box button {
    margin-top: 15%;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 2em;
}
